*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav img{
    height: 8vw;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.hero{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    text-align: center;
}

.hero-content{
    width: 100%;
    padding: 5vw 0;
}

.hero-content h1{
    font-size: 6vw;
    line-height: 5.5vw;
}

.hero-content h4{
    font-size: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.hero-content p{
    font-size: 1vw;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2{
    font-size: 2vw;
}

.images{
    margin-top: 5vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vw;
    padding: 0 4vw;
}

.elem{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    min-width: 25%;
    height: 15vw;
}

.images img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.contact{
    margin-top: 5vw;
    margin-bottom: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact #contact-title{
    font-size: 2vw;
    padding: 1vw;
}

.contact p{
    font-size: 1.2vw;
    padding: 0.5vw;
}

#map{
    padding: 1vw 40%;
    width: 100%;    
}

.contact p a{
    color: #000;
    text-decoration: none;
}

.footer{
    background-color: gray;
    padding: 1vw;
    text-align: center;
}

@media (max-width: 600px){
    .main{
        min-height: 100vh;
    }
    .nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.nav img{
    height: 12vw;
}
.navbar{
    gap: 4vw;
}

.navbar a{
    font-size: 2.5vw;
}

.hero{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    text-align: center;
}

.hero-content{
    width: 100%;
    padding: 5vw 2vw;
}

.hero-content h1{
    font-size: 8vw;
    line-height: 7vw;
}

.hero-content h4{
    font-size: 4vw;
    margin-top: 4vw;
    margin-bottom: 5vw;
}

.hero-content p{
    font-size: 2vw;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2{
    font-size: 4vw;
}

.images{
    margin-top: 8vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    padding: 0 4vw;
}

.elem{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    min-width: 40%;
    height: 200px;
    flex-wrap: nowrap;
}

.images img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}

.contact{
    margin-top: 5vw;
    margin-bottom: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact #contact-title{
    font-size: 4vw;
    padding: 3vw;
}

.contact p{
    font-size: 3vw;
    text-align: center;
}

#map{
    padding: 2vw 10%;
    width: 100%;    
}

.contact p a{
    color: #000;
    text-decoration: none;
}

.footer{
    width: 100%;
    background-color: gray;
    padding: 1vw;
    text-align: center;
}
}
