*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav img{
    height: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.hero{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    text-align: center;
}

.hero-content{
    width: 100%;
    padding: 5vw 0;
}

.hero-content h1{
    font-size: 6vw;
    line-height: 5.5vw;
}

.hero-content h4{
    font-size: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.hero-content p{
    font-size: 1vw;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2{
    font-size: 2vw;
}

.images{
    margin-top: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 4vw;
}

.elem{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 300px;
    height: 200px;
}

.images img{
    border-radius: 10px;
    object-fit: contain;
}
